<ion-view title="{{doc.attributes.title}}">

  <ion-content class="has-header">

    <div class="card">


      <div class="item item-avatar">
        <img ng-src="{{orgFor(doc).imageUrl}}" />
        <div ng-bind="orgFor(doc).title"></div>
      </div>


      <div class="item item-image" ng-show="doc.imageUrl()">
        <img ng-src="{{doc.imageUrl()}}"></img>
      </div>

      <div class="item item-body">
        <h1 ng-bind-html="doc.attributes.title"></h1>
        <p>
          <div ng-show="doc.attributes.byline">
            By <span ng-bind="doc.attributes.byline"></span>
          </div>
          <span ng-bind="(doc.attributes.published || doc.attributes.created) | date:'medium'"></span>
        </p>
      </div>

      <div class="item item-body">
        <p ng-bind-html="doc.attributes.contentencoded || doc.attributes.description"></p>
      </div>

      <div class="item item-body">
        <button class="button button-small" style='margin: 0.25em;' ng-repeat="tag in doc.attributes.tags track by $index">
          {{tag}}
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
